<%- include('../partials/header') %>

<div class="user-list">
  <% users.forEach(user => { %>
    <div class="user-card">
      <h3><%= user.name %></h3>
      <p>Email: <%= user.email %></p>
      <% if (user.age) { %>
        <p>Возраст: <%= user.age %></p>
      <% } %>
      <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit">Удалить</button>
      </form>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>